* {
  box-sizing: border-box;
}

.whyChooseUs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--PRIMARY-500, #e74247);
  padding: 52px 84px;
  width: 1440px;
  height: 674px;
  row-gap: 32px;

  .frame2147223394 {
    display: inline-flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    padding-right: 282px;
    padding-left: 282px;
    row-gap: 10px;

    .mengapaMemilihFasttr {
      flex-shrink: 0;
      line-height: 42px;
      letter-spacing: 0;
      color: var(--NEUTRAL-100, #f9f9f9);
      font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 28px;
      font-weight: 700;
    }

    .profesionalMudahCepa {
      flex-shrink: 0;
      width: 708px;
      text-align: center;
      line-height: 24px;
      letter-spacing: 0;
      color: var(--NEUTRAL-100, #f9f9f9);
      font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
  }

  .frame23 {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    column-gap: 24px;
    border-radius: 0px 0px 16px 16px;
    background: #ffffff03;
    backdrop-filter: blur(13px);

    .frame2147223395 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;

      .rectangle8 {
        flex-shrink: 0;
        align-self: stretch;
        border-radius: 16px 16px 0px 0px;
        background: var(--SEMANTIC-RED-700, #dd0417);
        height: 6px;
      }

      .frame20 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 0px 0px 12px 12px;
        background: var(--NEUTRAL-50, #fefefe);
        padding: 16px;
        row-gap: 12px;
        backdrop-filter: blur(13px);

        .a10000 {
          flex-shrink: 0;
          line-height: 42px;
          letter-spacing: 0;
          color: var(--PRIMARY-500, #e74247);
          font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 28px;
          font-weight: 700;
        }

        .frame2147223403 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 8px;

          .portofolioTerbukti {
            flex-shrink: 0;
            line-height: 27px;
            letter-spacing: 0;
            color: var(--NEUTRAL-800, #282925);
            font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: 600;
          }

          .lebihDari10000KlienT {
            flex-shrink: 0;
            align-self: stretch;
            width: 376px;
            line-height: 21px;
            letter-spacing: 0;
            color: var(--NEUTRAL-600, #42443d);
            font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }
    }
  }

  .frame2147223406 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    height: 237px;
    row-gap: 24px;

    .frame2147223398 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 10px;

      .autoWrapper {
        position: relative;
        flex-shrink: 0;
        width: 511px;
        height: 1px;

        .line2 {
          position: absolute;
          top: 1px;
          left: 0;
          background: #d9dad8;
          width: 511px;
          height: 1px;
          rotate: -180deg;
        }
      }

      .keunggulanLayanan {
        flex-shrink: 0;
        line-height: 36px;
        letter-spacing: 0;
        color: var(--NEUTRAL-100, #f9f9f9);
        font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: 600;
      }
    }

    .frame2147223402 {
      display: flex;
      flex-grow: 1;
      align-items: flex-start;
      column-gap: 8px;
      border: 1px solid var(--NEUTRAL-200, #d9dad8);
      border-radius: 12px;
      padding: 17px 15px;
      width: 1272px;
      backdrop-filter: blur(13px);

      .tepatWaktu {
        flex-shrink: 0;
        line-height: 27px;
        letter-spacing: 0;
        color: var(--NEUTRAL-50, #fefefe);
        font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 600;
      }

      .icon {
        flex-shrink: 0;
        width: 48px;
        height: 48px;
        overflow: hidden;
      }

      .frame202 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        row-gap: 12px;

        .frame45 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 8px;

          .penyelesaianSesuaiKo {
            flex-shrink: 0;
            width: 219px;
            text-align: center;
            line-height: 21px;
            letter-spacing: 0;
            color: var(--NEUTRAL-100, #f9f9f9);
            font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }

      .autoWrapper2 {
        position: relative;
        flex-shrink: 0;
        width: 1px;
        height: 141px;

        .line22 {
          position: absolute;
          top: 71px;
          left: -70px;
          background: #d9dad8;
          width: 141px;
          height: 1px;
          rotate: -90deg;
        }
      }

      .frame21 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        row-gap: 12px;

        .frame452 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 8px;

          .konsultanTersertifik {
            flex-shrink: 0;
            width: 229px;
            text-align: center;
            line-height: 21px;
            letter-spacing: 0;
            color: var(--NEUTRAL-100, #f9f9f9);
            font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }

      .frame22 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        row-gap: 12px;

        .frame453 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 8px;

          .transparanBersahabat {
            flex-shrink: 0;
            width: 190px;
            text-align: center;
            line-height: 21px;
            letter-spacing: 0;
            color: var(--NEUTRAL-100, #f9f9f9);
            font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }

      .frame232 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        row-gap: 12px;

        .frame454 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 8px;

          .melayaniKlienDariSel {
            flex-shrink: 0;
            width: 210px;
            text-align: center;
            line-height: 21px;
            letter-spacing: 0;
            color: var(--NEUTRAL-100, #f9f9f9);
            font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }
      }
    }
  }
}
