* {
  box-sizing: border-box;
}

.frame42 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--NEUTRAL-100, #f9f9f9);
  padding: 52px 84px 0px;
  width: 1440px;
  height: 316px;
  row-gap: 32px;

  .afiliasi {
    flex-shrink: 0;
    line-height: 42px;
    letter-spacing: 0;
    color: var(--NEUTRAL-900, #1a1b18);
    font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
  }

  .frame23 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    column-gap: 48px;
    border-radius: 0px 0px 16px 16px;
    background: #ffffff03;
    overflow: hidden;
    backdrop-filter: blur(13px);

    .frame2147223408 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      border-radius: 12px;
      background: var(--NEUTRAL-200, #d9dad8);
      padding: 8px;
      width: 200px;
      row-gap: 10px;

      .image3 {
        flex-shrink: 0;
        width: 185px;
        height: 62px;
      }
    }
  }
}
