* {
  box-sizing: border-box;
}

.virtualOffice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--NEUTRAL-600, #42443d);
  padding: 52px 84px;
  width: 1440px;
  height: 554px;
  row-gap: 32px;

  .alamatBisnisPrestisi {
    flex-shrink: 0;
    padding: 0px 351px;
    line-height: 42px;
    letter-spacing: 0;
    color: var(--NEUTRAL-100, #f9f9f9);
    font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 700;
  }

  .frame23 {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    column-gap: 24px;
    border-radius: 0px 0px 16px 16px;
    background: #ffffff03;
    backdrop-filter: blur(13px);

    .kPpSetiaBudi {
      flex-shrink: 0;
      line-height: 18px;
      letter-spacing: 0;
      color: #314777;
      font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
    }

    .centennialTower {
      flex-shrink: 0;
      line-height: 24px;
      letter-spacing: 0;
      color: var(--NEUTRAL-100, #f9f9f9);
      font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 700;
    }

    .frame45 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 8px;

      .icon {
        flex-shrink: 0;
        width: 18px;
        height: 18px;
        overflow: hidden;
      }

      .jakartaSelatan {
        flex-shrink: 0;
        line-height: 21px;
        letter-spacing: 0;
        color: var(--NEUTRAL-100, #f9f9f9);
        font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 14px;
      }
    }

    .frame44 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-end;
      align-self: stretch;
      padding: 16px;
      row-gap: 10px;

      .frame24 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 10px;
        margin-left: 187px;
        border-radius: 8px;
        background: var(--SEMANTIC-GREEN-500, #32de83);
        padding: 4px 12px;

        .tErsedia {
          flex-shrink: 0;
          line-height: 18px;
          letter-spacing: 0;
          color: var(--NEUTRAL-100, #f9f9f9);
          font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 600;
        }
      }
    }

    .frame43 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-end;
      justify-content: space-between;
      border-radius: 12px;
      height: 300px;
      background-image: url(../image/mpli065d-alnhura.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      backdrop-filter: blur(10px);

      .frame20 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 0px 0px 12px 12px;
        background: #ffffff03;
        padding: 16px;
        row-gap: 12px;
        backdrop-filter: blur(13px);

        .frame46 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 10px;
          margin-right: 165px;
          border-radius: 8px;
          background: #a8bded;
          padding: 4px 10px;
        }
      }
    }

    .frame432 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-end;
      justify-content: space-between;
      border-radius: 12px;
      height: 300px;
      background-image: url(../image/mpli065d-alnhura.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      backdrop-filter: blur(10px);

      .frame202 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 0px 0px 12px 12px;
        background: #ffffff03;
        padding: 16px;
        row-gap: 12px;
        backdrop-filter: blur(13px);

        .frame462 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 10px;
          margin-right: 150px;
          border-radius: 8px;
          background: #a8bded;
          padding: 4px 10px;
        }
      }
    }

    .frame433 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-end;
      justify-content: space-between;
      border-radius: 12px;
      height: 300px;
      background-image: url(../image/mpli065d-alnhura.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      backdrop-filter: blur(10px);

      .frame203 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 0px 0px 12px 12px;
        background: #ffffff03;
        padding: 16px;
        row-gap: 12px;
        backdrop-filter: blur(13px);

        .frame463 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 10px;
          margin-right: 132px;
          border-radius: 8px;
          background: #a8bded;
          padding: 4px 10px;
        }
      }
    }
  }

  .button2 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: center;
    column-gap: 8px;
    margin-right: 556px;
    margin-left: 556px;
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    height: 44px;

    .button {
      flex-shrink: 0;
      line-height: 21px;
      letter-spacing: 0;
      color: var(--PRIMARY-500, #e74247);
      font-family: "Plus Jakarta Sans", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 600;
    }

    .icon2 {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
      overflow: hidden;
    }
  }
}
